:root {
    --transition-duration: .2s;
    --transition-timing-function: linear;
    --transition-delay: 0s;

    --font-size-default: 18px;
    --font-size-lg: 25px;

    --text-color-default: #2c2c2c;
    --text-color-light: #fff;

    --bg-color-default: #fff;
    --bg-color-dark: #2c2c2c;

    --border-color-default: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* DEMO STYLES: YOU DON'T NEED THEM!!! */

body {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--font-size-default);
    color: var(--text-color-default);
}

body a {
    color: inherit;
    text-decoration: none;
}

.header {
    max-width: 500px;
    margin: 50px auto 0;
    text-align: center;
}

.header__btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.header__btn {
    transition:
            all
            var(--transition-duration)
            var(--transition-timing-function)
            var(--transition-delay);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--bg-color-default);
    border: 1px solid var(--border-color-default);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.header__btn:hover,
.header__btn.js-active {
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
}

.header__title {
    margin-bottom: 10px;
    font-weight: 600;
}

.content {
    margin: 50px auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 95%;
    max-width: 900px;
    margin: auto;
    justify-content: center;
}

/* ICON STYLES: YOU DON'T NEED THEM!!! */

.icon {
    width: 200px;
    height: 200px;
    border: 2px solid orange;
}

/* ICON  #1 */

.pumpkin {
    --body-color--main: #e57e25;
    --body-color--light: #F29C1F;

    position: relative;
}

.pumpkin__tail {
    height: 25%;
}

.pumpkin__main {
    position: relative;
    height: 75%;
}

.pumpkin__body {
    position: relative;
    height: 100%;
}

.pumpkin__body:before,
.pumpkin__body:after {
    position: absolute;
    top: 0;
    display: block;
    width: 55%;
    height: 100%;
    content: '';
    background-color: var(--body-color--main);
    border-radius: 100px;
    z-index: 1;
}

.pumpkin__body:before {
    left: 0;
}

.pumpkin__body:after {
    right: 0;
}

.pumpkin__body-inner {
    position: absolute;
    left: 50%;
    width: 49%;
    height: 100%;
    transform: translateX(-50%);
    background-color: var(--body-color--light);
    border-radius: 100px;
    z-index: 2;
}